In [1]:
import pandas as pd
from sklearn.datasets import load_wine

In [2]:
X, y = load_wine(return_X_y=True)
features = [f'f_{i}' for i in range(X.shape[1])]
df = pd.DataFrame(X, columns=features)
df['y'] = y

df = df[df['y'].isin({0, 1})].reset_index(drop=True)
df

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,f_11,f_12,y
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,12.07,2.16,2.17,21.0,85.0,2.60,2.65,0.37,1.35,2.76,0.86,3.28,378.0,1
126,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352.0,1
127,11.79,2.13,2.78,28.5,92.0,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466.0,1
128,12.37,1.63,2.30,24.5,88.0,2.22,2.45,0.40,1.90,2.12,0.89,2.78,342.0,1
129,12.04,4.30,2.38,22.0,80.0,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580.0,1

In [3]:
sample = df[features][:1]
sample

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,f_11,f_12
0,14.23,1.71,2.43,15.6,127.0,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065.0

In [9]:
[
    x
    for x in sample.values[0]
]

[14.23,
 1.71,
 2.43,
 15.6,
 127.0,
 2.8,
 3.06,
 0.28,
 2.29,
 5.64,
 1.04,
 3.92,
 1065.0]

In [10]:
[
    x
    for x in sample.columns
]

['f_0',
 'f_1',
 'f_2',
 'f_3',
 'f_4',
 'f_5',
 'f_6',
 'f_7',
 'f_8',
 'f_9',
 'f_10',
 'f_11',
 'f_12']

In [4]:
from catboost import CatBoostClassifier

cb_clf = CatBoostClassifier(verbose=0)
cb_clf.fit(df[features], df['y'])
cb_clf.save_model('../models/clf.bin')
cb_clf.predict_proba(sample), cb_clf.predict_log_proba(sample)

(array([[0.99506237, 0.00493763]]),
 array([[-4.94985601e-03, -5.31087070e+00]]))

In [13]:
print(cb_clf.predict_log_proba(sample)[0][0])

-0.004949856008476254

In [5]:
from catboost import CatBoostRegressor

cb_reg = CatBoostRegressor(verbose=0)
cb_reg.fit(df[features], df['y'])
cb_reg.save_model('../models/reg.bin')
cb_reg.predict(sample)

array([-0.00216917])

In [6]:
from catboost import CatBoost

clf = CatBoost({'verbose': 0})
clf.fit(df[features], df['y'])
clf.save_model('../models/cb.bin')
clf.predict(sample)

array([-0.00216917])